div.center {
    width: inherit;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px black solid;
    padding: 4px;
}

th {
    background-color: maroon;
    color: white;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

.threeColGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 10px;
}

fieldset {
    width: max-content;
}

fieldset input, fieldset select {
    margin-left: 10px;
}

fieldset p {
    margin-left: 10px;
}

fieldset p:empty {
    margin: 16px 0px;
}