div.center {
    width: inherit;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px black solid;
    padding: 4px;
}

th {
    background-color: maroon;
    color: white;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

.threeColGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 10px;
}

fieldset {
    width: max-content;
}

fieldset input, fieldset select {
    margin-left: 10px;
}

fieldset div>p {
    margin-left: 10px;
}

fieldset div>p:empty {
    margin: 16px 0px;
}

#messages {
    background-color: darkslategray;
    border: 3px solid rgb(39, 35, 85);
    border-radius: 3px;
    color: white;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    margin: 5px;
    min-height: 2em;
    min-width: 5em;
    padding: 3px;
    white-space: preserve nowrap;
    width: fit-content;
}