:root {
    --sort-arrow: hwb(20 40% 0%);
    --sort-background: gold;
}

button {
    font-size: medium;
    margin: 0px 3px;
    padding: 2px;
    border-radius: 5px;
    border-style: outset;
    border-width: 5px;
    box-shadow: 5px 5px lightgray;
}

button.read {
    background-color: aqua;
    border-color: hwb(180 0% 30%);
}

button.edit {
    background-color: hwb(45deg 0% 0%);
    border-color: hwb(45deg 0% 30%);
}

button.delete {
    background-color: hwb(0deg 0% 30%);
    border-color: hwb(0deg 0% 50%);
    color: white;
}

#previous, #next {
    background-color: slateblue;
    border-color: hwb(248 35% 30%);
}

button:active {
    border-style: inset;
    box-shadow: none;
}

#pageNumber {
    align-items: center;
    display: flex;
    font-size: larger;
}

div.row {
    display: flex;
}

label {
    align-items: center;
    display: flex;
    font-size: large;
    margin: 0px 5px;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px black solid;
    padding: 5px;
    text-align: center;
}

th.sortable {
    background-color: var(--sort-background);
}

th.sortUp {
    background-color: var(--sort-arrow);
    background-image: linear-gradient(315deg, transparent 60%, var(--sort-background) 60%), linear-gradient(45deg, transparent 60%, var(--sort-background) 60%);
}

th.sortDown {
    background-color: var(--sort-arrow);
    background-image: linear-gradient(135deg, transparent 60%, var(--sort-background) 60%), linear-gradient(225deg, transparent 60%, var(--sort-background) 60%);
}